& .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .catmain__category {
      display: flex;
      flex-direction: row;
  
      width: 1240px;
      & .catmain__category__text {
        font-family: 'Satoshi Regular';
        font-size: 16px;
        color: var(--black60);
        margin: 0;
      }
  
      & .catmain__category__img {
        margin-left: 4px;
        margin-right: 12px;
      }
  
      & .catmain__category__text--black {
        color: var(--black);
      }
    }
  
    @media (max-width : 392px) {
      & .catmain__category {
        margin-left: 16px;
      }
    }

    & .container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      
      & .container__left {
        display: flex;
        flex-direction: column;

        width: 295px;
        height: 1220px;

        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--black10);
        background-color: var(--white);

        padding: 20px 24px;
        margin-top: 24px;

        & .container__left__split {
          display: flex;
          width: 100%;
          border-bottom: 1px solid var(--black10);

          margin-top: 24px;
          margin-bottom: 24px;
        }
        

        & .container__left__titles {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          & .container__left__titles__title {
            font-family: 'Satoshi Bold';
            font-size: 20px;

            margin: 0;
          }
        }

        & .container__left__categories {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          gap: 20px;

          & .container__left__categories__category {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            & .container__left__categories__category__text {
              font-family: 'Satoshi Regular';
              font-size: 16px;
              color: var(--black60);

              margin: 0;
            }
          }
        }

        & .container__left__price {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          gap: 20px;
          width: 100%;


          & .container__left__price__titles {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            & .container__left__price__titles__title {
              font-family: 'Satoshi Bold';
              font-size: 20px;
              color: var(--black);

              margin: 0;
            }
          }

          & .container__left__price__line {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 247px;
            height: 6px;

            background-color: var(--broken-white);

            & .container__left__price__line__circle {
              width: 20px;
              height: 20px;

              border-radius: 50%;

              background-color: var(--black);
            }
            
            & .container__left__price__line__prices {
              display: flex;
              flex-direction: row;
              position: absolute;

              justify-content: space-between;
              width: 200px;
              padding-bottom: 24px;
              top: 13px;

              & .container__left__price__line__prices__text {
                font-family: 'Satoshi Medium';
                font-size: 14px;
                }
            }


            & .container__left__price__line__black {
              height: 6px;
              width: 150px;

              background-color: var(--black);
            }
          }
        }

        & .container__left__colors {

          & .container__left__colors__titles {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            & .container__left__colors__titles__title {
              font-family: 'Satoshi Bold';
              font-size: 20px;
              color: var(--black);

              margin: 0;
            }
          }

          & .container__left__colors__color {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            width: 217px;
            row-gap: 16px;

            margin-top: 20px;

            & .container__left__colors__color__item {
              width: 37px;
              height: 37px;
  
              border-radius: 50%;

              cursor: pointer;
            }

            & .container__left__colors__color__green {
              background-color: #00C12B;
            }
            
            & .container__left__colors__color__red {
              background-color: #F50606;
            }
            
            & .container__left__colors__color__yellow {
              background-color: #F5DD06;
            }
            
            & .container__left__colors__color__orange {
              background-color: #F57906;
            }
            
            & .container__left__colors__color__cyan {
              background-color: #06CAF5;
            }
            
            & .container__left__colors__color__blue {
              background-color: #063AF5;

              background-image: url('/tick.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 13px 9.5px;
            }
            
            & .container__left__colors__color__purple {
              background-color: #7D06F5;
            }
            
            & .container__left__colors__color__pink {
              background-color: #F506A4;
            }
            
            & .container__left__colors__color__white {
              background-color: #ffffff;
            }
            
            & .container__left__colors__color__black {
              background-color: #000000;
            }
          }
        }

        & .container__left__sizes {

          & .container__left__sizes__titles {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & .container__left__sizes__titles__title {
              font-family: 'Satoshi Bold';
              font-size: 20px;
              color: var(--black);
  
              margin: 0;
            }
          }

          & .container__left__sizes__size {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;

            width: 247px;
            gap: 8px;
            margin-top: 20px;

            & .container__left__sizes__size__item {
              display: flex;
              align-items: center;
              justify-content: center;

              padding: 10px 20px;
              border-radius: 62px;

              background-color: var(--broken-white);

              font-family: 'Satoshi Regular ';
              font-size: 14px;
              color: var(--black60);

              cursor: pointer;
            }

            & .container__left__sizes__size__item__black {
              background-color: var(--black);
              color: white;
            }
          }
        }

        & .container__left__style {

          & .container__left__style__titles {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            & .container__left__style__titles__title {
              font-family: 'Satoshi Bold';
              font-size: 20px;
              color: var(--black);

              margin: 0;
            }
          }

          & .container__left__style__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            gap: 20px;
            margin-top: 20px;

            & .container__left__style__list__category {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;

              & .container__left__style__list__category__text {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                color: var(--black60);

                margin: 0;
              }
            }
          }
        }

        & .container__left__button {
          background-color: var(--black);
          color: var(--white);

          font-family: 'Satoshi Medium';
          font-size: 14px;

          padding: 16px 54px;
          border-radius: 62px;
          margin-top: 24px;

          cursor: pointer;
          border: none;
          outline: none;
        }
      }

      & .container__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 929px;

        margin-top: 24px;
        margin-left: 20px;

        & .container__right__titles{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          width: 100%;

          & .container__right__titles__title {
            font-family: 'Satoshi Bold';
            font-size: 32px;

            margin: 0;
          }

          & .container__right__titles__right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 12px;

            & .container__right__titles__right__amount {
              font-family: 'Satoshi Regular';
              font-size: 16px;
              color: var(--black60);

              margin: 0;
            }

            & .container__right__titles__right__sort {
              font-family: 'Satoshi Regular';
              font-size: 16px;
              color: var(--black60);

              margin: 0;
            }

            & .container__right__titles__right__filter {
              display: none;
            }

            & .container__right__titles__right__black {
              font-family: 'Satoshi Medium';
              font-size: 16px;
              color: var(--black);

              margin: 0;
            }
          }
        }

        & .container__right__products {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          gap: 20px;

          margin-top: 20px;

          & .container__right__products__item {


            & .container__right__products__item__image {
              border-radius: 20px;

              background-color: var(--broken-white);
  
              width: 295px;
              height: 298px;

              margin-bottom: 16px;
            }

            & .container__right__products__item__gradient {
              background-image: url('/gradientgraphic.png');
            }

            & .container__right__products__item__tipping {
              background-image: url('/tippingpolo.png');
            }

            & .container__right__products__item__blackstriped {
              background-image: url('/blackstriped.png');
            }

            & .container__right__products__item__skinny {
              background-image: url('/skinnyjean.png');
            }

            & .container__right__products__item__checkered {
              background-image: url('/checkeredshirt.png');
            }

            & .container__right__products__item__sleevestriped {
              background-image: url('/sleevetshirt.png');
            }

            & .container__right__products__item__verticalstriped {
              background-image: url('/verticalstriped.png');
            }

            & .container__right__products__item__courage {
              background-image: url('/couragegraphic.png');
            }

            & .container__right__products__item__bermuda {
              background-image: url('/loosefitbermuda.png');
            }
  
            & .container__right__products__item__specs {
              width: 240px;
              height: 94px;
  
              & .container__right__products__item__specs__title{
                font-family: 'Satoshi Bold';
                font-size: 20px;

                margin: 0;
                margin-bottom: 8px;
              }

              & .container__right__products__item__specs__rate {
                display: flex;
                justify-content: flex-start;
                align-items: center;
  
                width: 150px;
                height: 19px;
                
                margin-bottom: 8px;
  
                & .container__right__products__item__specs__rate__rates {
                  margin-left: 13px;
                  
                  font-family: 'Satoshi Regular';
                  font-size: 14px;

                  margin: 0;
                  margin-left: 13px;
                }
  
                & .container__right__products__item__specs__rate__faded {
                  color: var(--black60);

                  margin: 0;
                }
  
              }
              & .container__right__products__item__specs__sale {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
  
                width: 200px;
  
                & .container__right__products__item__specs__sale__eprice {
                  font-family: 'Satoshi Bold';
                  font-size: 24px;
                  color: var(--black40);
  
                  text-decoration: line-through;

                  margin: 0;
                }
  
                & .container__right__products__item__specs__sale__discount {
                  font-family: 'Satoshi Medium';
                  color: var(--openred);
                  font-size: 12px;
  
                  background-color: var(--openred10);
                  border-radius: 62px;
                  padding: 6px 14px;

                  margin: 0;
                }
              }
  
              & .container__right__products__item__specs__price {
                font-family: 'Satoshi Bold';
                font-size: 24px;

                margin: 0;
              }
            }
          }
        }

        & .container__right__split {
          width: 100%;
          height: 1px;
          background-color: var(--black10);
          
          margin-top: 32px;
          margin-bottom: 20px;
        }
        & .container__right__bottom{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          width: 100%;

          & .container__right__bottom__left {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 8px;

            & .container__right__bottom__left__text {
              font-family: 'Satoshi Medium';
              font-size: 14px;
              line-height: 20px;

              margin: 0;
            }
          }

          & .container__right__bottom__middle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2px;

            & .container__right__bottom__middle__text {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              text-align: center;
              
              font-family: 'Satoshi Medium';
              font-size: 14px;
              line-height: 20px;
              color: var(--black50);

              margin: 0;
            }

            & .container__right__bottom__middle__textres {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              text-align: center;
              
              font-family: 'Satoshi Medium';
              font-size: 14px;
              line-height: 20px;
              color: var(--black50);

              margin: 0;
            }

            & .container__right__bottom__middle__black {
              color: black;
              background-color: #0000000F;

              border-radius: 8px;
            }
          }

          & .container__right__bottom__right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 8px;

            & .container__right__bottom__right__text {
              font-family: 'Satoshi Medium';
              font-size: 14px;
              line-height: 20px;

              margin: 0;
            }
          }
        }
      }
    }
  }
  @media (max-width: 392px) {
    & .page {
      margin-left: 16px;
      
      & .container {
        flex-direction: column;

        & .container__left {
          width: 100%;
          margin-left: 16px;

          & .container__left__colors {

            & .container__left__colors__color {
              justify-content: flex-start;
              width: 353px;
              gap: 16px;
            }
          }
          
          & .container__left__sizes {

            & .container__left__sizes__size {
              width: 358px;
            }
          }
        }

        & .container__right {
          width: 358px;

          margin-left: 0px;
          gap: 14px;

          & .container__right__titles {

            & .container__right__titles__right {

              & .container__right__titles__right__sort {
                display: none;
              }
  
              & .container__right__titles__right__filter {
                display: block;

                background-color: var(--black10);
                background-image: url('/filter.png');
                background-size: 13.5px 12.5px;
                background-repeat: no-repeat;
                background-position: center;

                width: 32px;
                height: 32px;

                border-radius: 50%;
              }
            }
          }

          & .container__right__products {
            display: flex;
            flex-direction: row;
            gap: 14px ;

            & .container__right__products__item {

              width: 172px;

              & .container__right__products__item__image {
                width: 172px;
                height: 174px;
              }

              & .container__right__products__item__gradient {
                background-image: url('/gradientgraphicres2.png');
              }
  
              & .container__right__products__item__tipping {
                background-image: url('/tippingpolores2.png');
              }
  
              & .container__right__products__item__blackstriped {
                background-image: url('/blackstripedres2.png');
              }
  
              & .container__right__products__item__skinny {
                background-image: url('/skinnyjeanres2.png');
              }
  
              & .container__right__products__item__checkered {
                background-image: url('/checkeredshirtres2.png');
              }
  
              & .container__right__products__item__sleevestriped {
                background-image: url('/sleevetshirtres2.png');
              }

              & .container__right__products__item__specs {
                width: 172px;
  
                & .container__right__products__item__specs__title {
                  font-size: 16px;
                }
  
                & .container__right__products__item__specs__price {
                  font-size: 20px;
                }
  
                & .container__right__products__item__specs__sale {
  
                  & .container__right__products__item__specs__sale__eprice{
                    font-size: 20px;
                  }
                }
              }
            }
          }
          
          .container__right__products > div:nth-last-child(-n+3) {
            display: none;
          }

          & .container__right__bottom{

            & .container__right__bottom__middle {

              & .container__right__bottom__middle__textres{
                display: none;
              }
            }
          }
        }
      }
    }
  }