.product {
    display: flex;

    width: 1240px;
    height: 530px;

    margin-top: 36px;
    margin-left: 100px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;

        .container__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 14px;

            .container__left__img {
                width: 152px;
                height: 167px;

                order: 1;
            }

            .container__left__side1 {
                background-image: url('/sideproduct1.png');
            }

            .container__left__side2 {
                background-image: url('/sideproduct2.png');
            }

            .container__left__side3 {
                background-image: url('/sideproduct3.png');
            }
        }

        .container__middle {
            margin-left: 14px;
            margin-right: 36px;

            order: 2;

            width: 444px;
            height: 530px;

            .container__middle__img {
                background-image: url('/bigproduct.png');
                width: 444px;
                height: 530px;
            }
        }

        .container__right {
            width: 600px;
            height: 530px;

            order: 3;

            .container__right__title {
                font-family: 'Integral CF Bold';
                font-size: 40px;
                margin: 0;
            }

            .container__right__rate {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 7px;
                margin-top: 14px;

                .container__right__rate__rates {
                    margin-left: 9px;
                    margin: 0;

                    font-family: 'Satoshi Regular';
                    font-size: 16px;
                }

                .container__right__rate__faded {
                    color: var(--black60);
                }
            }

            .container__right__prices {
                display: flex;
                align-items: center;
                flex-direction: row;

                gap: 12px;
                margin-top: 14px;
                margin-bottom: 20px;

                .container__right__prices__price {
                    font-family: 'Satoshi Bold';
                    font-size: 32px;

                    margin: 0;
                }

                .container__right__prices__exprice {
                    color: var(--black30);

                    font-family: 'Satoshi Bold';
                    font-size: 32px;

                    text-decoration: line-through;

                    margin: 0;
                }

                .container__right__prices__dis {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 72px;
                    height: 34px;

                    background-color: var(--openred10);
                    border-radius: 62px;

                    margin: 0;

                    .container__right__prices__dis__discount {
                        font-family: 'Satoshi Medium';
                        font-size: 16px;

                        color: var(--openred);
                    }
                }
            }

            .container__right__desc {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                line-height: 22px;
                color: var(--black60);

                margin: 0;
            }

            .container__line {
                width: 590px;
                height: 0.1px;
                background-color: var(--black10);

                margin-top: 24px;
                margin-bottom: 24px;
            }

            .container__right__selcol {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                color: var(--black60);
                margin: 0;
            }

            .container__right__colorpicker {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                gap: 16px;
                margin-top: 16px;

                .container__right__colorpicker__color {
                    border-radius: 50%;
                    width: 37px;
                    height: 37px;
                }

                .container__right__colorpicker__brown {
                    background-color: #4F4631;
                    background-image: url('/tick.png');
                    background-repeat: no-repeat;
                    background-size: 13px 9.5px;
                    background-position: center;
                }

                .container__right__colorpicker__green {
                    background-color: #314F4A;
                }

                .container__right__colorpicker__blue {
                    background-color: #31344F;
                }
            }

            .container__right__choosesize {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                color: var(--black60);
                margin: 0;
            }

            .container__right__sizes {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                height: 46px;
                width: 420px;

                gap: 12px;
                margin-top: 16px;

                .container__right__sizes__size {
                    background-color: var(--broken-white);

                    padding: 12px 24px;
                    border-radius: 62px;

                    .container__right__sizes__size__text {
                        font-family: 'Satoshi Regular';
                        font-size: 16px;

                        color: var(--black60);

                        margin: 0;
                    }
                }

                .container__right__sizes__black {
                    background-color: black;

                    .container__right__sizes__white {
                        color: var(--white);
                    }
                }
            }

            .container__right__card {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                gap: 20px;

                .container__right__card__amount {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    background-color: var(--broken-white);

                    padding: 16px 20px;
                    border-radius: 62px;

                    width: 170px;

                    .container__right__card__amount__text {
                        font-family: 'Satoshi Medium';
                        font-size: 16px;

                        margin: 0;
                    }

                    .container__right__card__amount__img {
                        margin: 0;
                    }
                }

                .container__right__card__addto {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--black);

                    border-radius: 62px;
                    padding: 16px 54px;

                    width: 400px;

                    .container__right__card__addto__text {
                        /************************************************/
                        font-family: 'Satoshi Medium';
                        font-size: 16px;
                        color: var(--white);
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media (max-width:392px) {
    .product {
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 947px;

        position: relative;
        right: -74px;
        top: 175px;

        .container {
            flex-direction: column;

            .container__left {
                order: 2;

                flex-direction: row;

                gap: 12px;
                margin-top: 12px;

                .container__left__img {
                    width: 111px;
                    height: 106px;
                }

                .container__left__side1 {
                    background-image: url('/sideproduct1res.png');
                }

                .container__left__side2 {
                    background-image: url('/sideproduct2res.png');
                }

                .container__left__side3 {
                    background-image: url('/sideproduct3res.png');
                }
            }

            .container__middle {
                order: 1;

                width: 358px;
                height: 290px;

                margin: 0;

                .container__middle__img {
                    background-image: url('/bigproductres.png');
                    background-repeat: no-repeat;
                    background-position: center;

                    width: 358px;
                    height: 290px;
                }
            }

            .container__right {

                gap: 5px;

                margin-top: 20px;

                .container__right__title {
                    font-size: 24px;
                    line-height: 28px;

                    width: 267px;
                }

                .container__right__rate {
                    margin-top: 12px;
                    gap: 5px;

                    .container__right__rate__fstar {
                        width: 18.67px;
                        height: 18.67px;
                    }

                    .container__right__rate__hstar {
                        width: 8.88px;
                        height: 16.89px;
                    }

                    .container__right__rate__rates {
                        font-size: 14px;

                        margin-left: 11px;
                    }
                }

                .container__right__prices {
                    gap: 10px;

                    margin-top: 12px;

                    .container__right__prices__price {
                        font-size: 24px;

                        margin: 0;
                    }

                    .container__right__prices__exprice {
                        font-size: 24px;

                        margin: 0;
                    }

                    .container__right__prices__dis {

                        .container__right__prices__dis__discount {
                            font-size: 14px;

                            margin: 0;

                            padding: 6px 12px;
                        }
                    }
                }

                .container__right__desc {
                    font-size: 14px;
                    line-height: 20px;

                    width: 358px;
                }

                .container__line {
                    width: 358px;
                }

                .container__right__selcol {
                    font-size: 14px;
                }

                .container__right__colorpicker {

                    .container__right__colorpicker__color {
                        width: 39.14px;
                        height: 39.14px;
                    }
                }

                .container__right__choosesize {
                    font-size: 14px;
                }

                .container__right__sizes {
                    gap: 8px;

                    width: 353px;
                    height: 39px;

                    .container__right__sizes__size {
                        padding: 10px 20px;

                        .container__right__sizes__size__text {
                            font-size: 14px;
                            max-width: 49px;
                        }
                    }
                }

                .container__right__card {
                    width: 358px;
                    gap: 2px;

                    .container__right__cart__amount {

                        width: 110px;
                        height: 44px;

                        .container__right__card__amount__img {
                            width: 15.62px;
                            height: 15.62px;
                        }

                        .container__right__card__amount__text {
                            font-size: 14px;
                        }
                    }

                    .container__right__card__addto {
                        width: 236px;
                        height: 44px;

                        padding: 16px 54px;

                        .container__right__card__addto__text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:768px) {
    .product {

        max-width: 720px;
        width: 100%;
        height: 947px;

        margin-left: 0;

        position: relative;
        right: 75px;
        top: -2,0px;

        .container {
            position: absolute;
            flex-direction: row;
            flex-wrap: wrap;

            justify-content: center;
            align-items: center;

            row-gap: 10px;

            .container__left {
                order: 2;

                flex-direction: row;
                width: 720px;
                gap: 12px;
                margin-top: 12px;

                .container__left__img {
                    width: 111px;
                    height: 106px;
                }

                .container__left__side1 {
                    background-image: url('/sideproduct1res.png');
                }

                .container__left__side2 {
                    background-image: url('/sideproduct2res.png');
                }

                .container__left__side3 {
                    background-image: url('/sideproduct3res.png');
                }
            }

            .container__middle {

                order: 1;

                width: 358px;
                height: 290px;

                margin: 0;

                .container__middle__img {
                    background-image: url('/bigproductres.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 358px 290px;

                    width: 358px;
                    height: 290px;
                }
            }

            .container__right {
                max-width: 720px;

                margin-top: 20px;
                margin-left: 250px;


                .container__right__title {
                    font-size: 24px;
                    line-height: 28px;

                }

                .container__right__rate {
                    margin-top: 12px;
                    gap: 5px;

                    .container__right__rate__fstar {
                        width: 18.67px;
                        height: 18.67px;
                    }

                    .container__right__rate__hstar {
                        width: 8.88px;
                        height: 16.89px;
                    }

                    .container__right__rate__rates {
                        font-size: 14px;

                        margin-left: 11px;
                    }
                }

                .container__right__prices {
                    gap: 10px;

                    margin-top: 12px;

                    .container__right__prices__price {
                        font-size: 24px;

                        margin: 0;
                    }

                    .container__right__prices__exprice {
                        font-size: 24px;

                        margin: 0;
                    }

                    .container__right__prices__dis {

                        .container__right__prices__dis__discount {
                            font-size: 14px;

                            margin: 0;

                            padding: 6px 12px;
                        }
                    }
                }

                .container__right__desc {
                    font-size: 14px;
                    line-height: 20px;

                    width: 358px;
                }

                .container__line {
                    width: 358px;
                }

                .container__right__selcol {
                    font-size: 14px;
                }

                .container__right__colorpicker {
                    width: 45%;

                    .container__right__colorpicker__color {
                        width: 39.14px;
                        height: 39.14px;
                    }
                }

                .container__right__choosesize {
                    font-size: 14px;
                }

                .container__right__sizes {
                    gap: 8px;

                    width: 353px;
                    height: 39px;

                    .container__right__sizes__size {
                        padding: 10px 20px;

                        .container__right__sizes__size__text {
                            font-size: 14px;
                            max-width: 49px;
                        }
                    }
                }

                .container__right__card {
                    width: 358px;
                    gap: 2px;

                    .container__right__cart__amount {

                        width: 110px;
                        height: 44px;

                        .container__right__card__amount__img {
                            width: 15.62px;
                            height: 15.62px;
                        }

                        .container__right__card__amount__text {
                            font-size: 14px;
                        }
                    }

                    .container__right__card__addto {
                        width: 236px;
                        height: 44px;

                        padding: 16px 54px;

                        .container__right__card__addto__text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:992px) {
    .product {

        max-width: 960px;
        width: 100%;
        height: 550px;

        margin-left: 0;

        position: relative;
        right: 75px;
        top: -20px;

        .container {
            flex-direction: row;
            flex-wrap: nowrap;

            justify-content: center;
            align-items: flex-start;
            gap: 20px;


            .container__left {
                order: 1;

                flex-direction: column;
                width: 111px;
                gap: 12px;
                margin-top: 0;

                .container__left__img {
                    width: 111px;
                    height: 106px;
                }

                .container__left__side1 {
                    background-image: url('/sideproduct1res.png');
                }

                .container__left__side2 {
                    background-image: url('/sideproduct2res.png');
                }

                .container__left__side3 {
                    background-image: url('/sideproduct3res.png');
                }
            }

            .container__middle {

                order: 2;

                width: 407px;
                height: 330px;

                margin: 0;

                .container__middle__img {
                    background-image: url('/bigproductres.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 407px 330px;

                    width: 407px;
                    height: 330px;
                }
            }

            .container__right {
                width: 400px;

                margin-top: 20px;
                margin-left: 0;


                .container__right__title {
                    font-size: 24px;
                    line-height: 28px;

                }

                .container__right__rate {
                    margin-top: 12px;
                    gap: 5px;

                    .container__right__rate__fstar {
                        width: 18.67px;
                        height: 18.67px;
                    }

                    .container__right__rate__hstar {
                        width: 8.88px;
                        height: 16.89px;
                    }

                    .container__right__rate__rates {
                        font-size: 14px;

                        margin-left: 11px;
                    }
                }

                .container__right__prices {
                    gap: 10px;

                    margin-top: 12px;

                    .container__right__prices__price {
                        font-size: 24px;

                        margin: 0;
                    }

                    .container__right__prices__exprice {
                        font-size: 24px;

                        margin: 0;
                    }

                    .container__right__prices__dis {

                        .container__right__prices__dis__discount {
                            font-size: 14px;

                            margin: 0;

                            padding: 6px 12px;
                        }
                    }
                }

                .container__right__desc {
                    font-size: 14px;
                    line-height: 20px;

                    width: 358px;
                }

                .container__line {
                    width: 358px;
                }

                .container__right__selcol {
                    font-size: 14px;
                }

                .container__right__colorpicker {
                    width: 45%;

                    .container__right__colorpicker__color {
                        width: 39.14px;
                        height: 39.14px;
                    }
                }

                .container__right__choosesize {
                    font-size: 14px;
                }

                .container__right__sizes {
                    gap: 8px;

                    width: 353px;
                    height: 39px;

                    .container__right__sizes__size {
                        padding: 10px 20px;

                        .container__right__sizes__size__text {
                            font-size: 14px;
                            max-width: 49px;
                        }
                    }
                }

                .container__right__card {
                    width: 358px;
                    gap: 2px;

                    .container__right__cart__amount {

                        width: 110px;
                        height: 44px;

                        .container__right__card__amount__img {
                            width: 15.62px;
                            height: 15.62px;
                        }

                        .container__right__card__amount__text {
                            font-size: 14px;
                        }
                    }

                    .container__right__card__addto {
                        width: 236px;
                        height: 44px;

                        padding: 16px 54px;

                        .container__right__card__addto__text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .product {
        margin-left: 150px;
    }
}

@media (min-width: 1400px) {
    .product {
    display: flex;

    max-width: 1320px;
    width: 100%;
    height: 530px;

    margin-top: 36px;
    margin-left: 200px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;

        .container__left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 14px;

            .container__left__img {
                width: 152px;
                height: 167px;

                order: 1;
            }

            .container__left__side1 {
                background-image: url('/sideproduct1.png');
            }

            .container__left__side2 {
                background-image: url('/sideproduct2.png');
            }

            .container__left__side3 {
                background-image: url('/sideproduct3.png');
            }
        }

        .container__middle {
            margin-left: 14px;
            margin-right: 36px;

            order: 2;

            width: 444px;
            height: 530px;

            .container__middle__img {
                background-image: url('/bigproduct.png');
                background-size: 444px 530px;
                width: 444px;
                height: 530px;
            }
        }

        .container__right {
            width: 600px;
            height: 530px;

            order: 3;

            .container__right__title {
                font-family: 'Integral CF Bold';
                font-size: 40px;
                margin: 0;
            }

            .container__right__rate {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 7px;
                margin-top: 14px;

                .container__right__rate__rates {
                    margin-left: 9px;
                    margin: 0;

                    font-family: 'Satoshi Regular';
                    font-size: 16px;
                }

                .container__right__rate__faded {
                    color: var(--black60);
                }
            }

            .container__right__prices {
                display: flex;
                align-items: center;
                flex-direction: row;

                gap: 12px;
                margin-top: 14px;
                margin-bottom: 20px;

                .container__right__prices__price {
                    font-family: 'Satoshi Bold';
                    font-size: 32px;

                    margin: 0;
                }

                .container__right__prices__exprice {
                    color: var(--black30);

                    font-family: 'Satoshi Bold';
                    font-size: 32px;

                    text-decoration: line-through;

                    margin: 0;
                }

                .container__right__prices__dis {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 72px;
                    height: 34px;

                    background-color: var(--openred10);
                    border-radius: 62px;

                    margin: 0;

                    .container__right__prices__dis__discount {
                        font-family: 'Satoshi Medium';
                        font-size: 16px;

                        color: var(--openred);
                    }
                }
            }

            .container__right__desc {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                line-height: 22px;
                color: var(--black60);

                margin: 0;
            }

            .container__line {
                width: 590px;
                height: 0.1px;
                background-color: var(--black10);

                margin-top: 24px;
                margin-bottom: 24px;
            }

            .container__right__selcol {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                color: var(--black60);
                margin: 0;
            }

            .container__right__colorpicker {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                gap: 16px;
                margin-top: 16px;

                .container__right__colorpicker__color {
                    border-radius: 50%;
                    width: 37px;
                    height: 37px;
                }

                .container__right__colorpicker__brown {
                    background-color: #4F4631;
                    background-image: url('/tick.png');
                    background-repeat: no-repeat;
                    background-size: 13px 9.5px;
                    background-position: center;
                }

                .container__right__colorpicker__green {
                    background-color: #314F4A;
                }

                .container__right__colorpicker__blue {
                    background-color: #31344F;
                }
            }

            .container__right__choosesize {
                font-family: 'Satoshi Regular';
                font-size: 16px;
                color: var(--black60);
                margin: 0;
            }

            .container__right__sizes {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                height: 46px;
                width: 420px;

                gap: 12px;
                margin-top: 16px;

                .container__right__sizes__size {
                    background-color: var(--broken-white);

                    padding: 12px 24px;
                    border-radius: 62px;

                    .container__right__sizes__size__text {
                        font-family: 'Satoshi Regular';
                        font-size: 16px;

                        color: var(--black60);

                        margin: 0;
                    }
                }

                .container__right__sizes__black {
                    background-color: black;

                    .container__right__sizes__white {
                        color: var(--white);
                    }
                }
            }

            .container__right__card {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                gap: 20px;

                .container__right__card__amount {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    background-color: var(--broken-white);

                    padding: 16px 20px;
                    border-radius: 62px;

                    width: 170px;

                    .container__right__card__amount__text {
                        font-family: 'Satoshi Medium';
                        font-size: 16px;

                        margin: 0;
                    }

                    .container__right__card__amount__img {
                        margin: 0;
                    }
                }

                .container__right__card__addto {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--black);

                    border-radius: 62px;
                    padding: 16px 54px;

                    width: 400px;

                    .container__right__card__addto__text {
                        /************************************************/
                        font-family: 'Satoshi Medium';
                        font-size: 16px;
                        color: var(--white);
                        margin: 0;
                    }
                }
            }
        }
    }
}
}