& .customercomments {
    display: flex;
    align-items: center;
    justify-content: center;

    & .container {
        width: 1240px;

        margin-top: 80px;

        & .container__title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-bottom: 40px;

            & .container__title__text {
                font-family: 'Integral CF Bold';
                font-size: 48px;

                margin: 0;
            }

            & .container__title__arrow {
                display: flex;
                gap: 16px;
            }
        }


        & .container__comments {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 20px;

            & .container__comments__item {

                width: 400px;
                height: 240px;

                padding: 28px 32px;

                border-width: 1px;
                border-style: solid;
                border-radius: 20px;
                border-color: var(--black10);

                & .container__comments__item__container {
                    width: 336px;

                    & .container__comments__item__container__rate {
                        line-height: 22.58px;
                    }

                    & .container__comments__item__container__name {
                        font-family: 'Satoshi Bold';
                        font-size: 20px;
                        line-height: 22px;
                    }

                    & .container__comments__item__container__comment {
                        font-family: 'Satoshi Regular';
                        font-size: 16px;
                        line-height: 20px;
                        color: var(--black60);
                    }
                }
            }
        }
    }

    & .blur {
        filter: blur(1.5px);
        opacity: 0.4;
        pointer-events: none;
        transform: translateZ(0);
    }
}

@media (max-width: 392px) {
    & .customercomments {
        width: 100%;

        & .container {
            width: 100%;
            margin-left: 16px;

            width: 358px;

            & .container__title {
                align-items: end;

                & .container__title__text {
                    font-size: 32px;
                    width: 286px;
                }
            }

            & .container__comments {

                .container__comments__item:not(:first-child) {
                    display: none;
                }

                & .container__comments__item {
                    width: 358px;

                    & .container__comments__item__container {

                        & .container__comments__item__container__rate {
                            margin-bottom: 12px;

                            & .container__comments__item__container__rate__star {
                                width: 19.19px;
                                height: 19.19px;
                            }
                        }

                        & .container__comments__item__container__name {
                            font-size: 16px;
                            margin: 0;
                        }

                        & .container__comments__item__container__icon {
                            width: 15.44px;
                            height: 15.44px;

                            margin-left: 6px;
                        }

                        & .container__comments__item__container__comment {
                            font-size: 14px;
                            line-height: 20px;

                            margin: 0;
                            margin-top: 8px;

                            width: 310px;
                        }
                    }
                }
            }
        }
    }
}